<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="/">Pradinis</a>

    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>-->

    <!--<div class="navbar-collapse collapse w-100" id="collapsibleNavbar">-->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>