.form-container {
  margin: 25px;
  padding: 25px;
  max-width: 350px;
  height: 400px;
}

.form {
  min-width: 150px;
  max-width: 300px;
  width: 95%;
}

.form-field {
  margin-bottom: 5px;
  width: 100%;
}

h1, h6 {
  display: flex;
  justify-content: center;
}

h6 {
  margin-top: 5px;
  color: #ab0000;
}

button {
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}