.schedule {
    margin: 5px;
    cursor: pointer;
    background: #ede6e3;
    border-radius: 5px;
}

.schedule-header {
    display: flex;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.schedule-container {
    cursor: auto;
    height: auto;
}

.schedule-footer {
    height: 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.selected {
    background: #f06449;
}

.default {
    background: #342df0;
}

.photo-container {
    padding: 0.5em 0.5em;
}

i.image {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.5em;
}

.text-container {
    padding: 0.5em 0.5em;
    text-align: center;
}

.text {
    display: inline-block;
    margin: 5px 5px 5px;
    width: 190px;
    color: #eae2b7;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;

    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.click-button {
    padding: 5px;
    margin-right: 3px;
    border-radius: 50%;
}

.click-button:hover {
    background: #b3e8ca;
    box-shadow: 2px 2px 5px grey;
}

i.material-icons {
    font-size: 2em;
}

.editing {
    color: green;
}