<app-schedule-new (newSchedule)="createSchedule($event)"></app-schedule-new>

<div class="schedule" *ngFor="let schedule of schedules">
    <div class="schedule-header"
         [class.default]="isScheduleDefault(schedule) && !isScheduleSelected(schedule)"
         [class.selected]="isScheduleSelected(schedule)">
        <div class="col-1 photo-container"
             (click)="onScheduleSelect(schedule)">
            <i class="fas fa-images image"></i>
        </div>

        <div *ngIf="!editRequired(schedule); else nameEditor"
             class="col my-auto text"
             (click)="onScheduleSelect(schedule)">
            {{schedule.title}}
        </div>
        <ng-template #nameEditor>
            <mat-form-field class="col">
                <input matInput type="text"
                       placeholder="Pavadinimas" [(ngModel)]="schedule.title">
            </mat-form-field>
        </ng-template>

        <i *ngIf="isScheduleDefault(schedule); else notDefault"
           class="fas fa-circle fa-lg my-auto click-button"
           (click)="onSetDefault(schedule)"></i>
        <ng-template #notDefault>
            <i class="far fa-circle fa-lg my-auto click-button"
               (click)="onSetDefault(schedule)"></i>
        </ng-template>

        <i class="fas fa-pencil-alt my-auto fa-lg click-button"
           [class.saving-pen]="editingId"
           [class.editing]="isEditing(schedule)"
           (click)="onEdit(schedule)"></i>
        <i class="fas fa-trash-alt my-auto fa-lg click-button"
           (click)="onDelete(schedule)"></i>
    </div>

    <app-schedule-detail *ngIf="selectedSchedule === schedule"
                         class="element schedule-container"
                         [schedule]="schedule"></app-schedule-detail>

    <div class="schedule-footer" (click)="onScheduleSelect(schedule)"
         [class.default]="isScheduleDefault(schedule) && !isScheduleSelected(schedule)"
         [class.selected]="isScheduleSelected(schedule)"></div>
</div>