<div class="row">
    <h5 class="col-10 title">
        {{this.getDayTitle(day.weekday)}}
    </h5>

    <div class="col-2 mode" (click)="onChangeMode(day)"
         matTooltip={{modeInfo}}
         [matTooltipShowDelay]="2000">
    <span *ngIf="day.mode === 'time'">
        <i class="far fa-clock fa-lg button event-button"></i>
    </span>
        <span *ngIf="day.mode === 'sun'">
            <i class="fas fa-sun fa-lg button event-button"></i>
        </span>
        <span *ngIf="day.mode === 'skip'">
            <i class="fas fa-ban fa-lg button event-button"></i>
        </span>
    </div>

    <mat-form-field class="col-md-6 timeField">
        <input  matInput type="time" (change)="onTimeChange()"
               [disabled]="isTimeDisable()"
               placeholder="Atidarymo laikas" [(ngModel)]="day.openTime">
    </mat-form-field>

    <mat-form-field class="col-md-6">
        <input matInput type="time" (change)="onTimeChange()"
               [disabled]="isTimeDisable()"
               placeholder="Uždarymo laikas" [(ngModel)]="day.closeTime">
    </mat-form-field>
</div>
