.mode {
    padding: 5px;
}

.title {
    padding: 3px;
    padding-left: 10px;
}

.click-button {
    cursor: pointer;
    padding: 5px;
    margin-right: 3px;
    border-radius: 50%;
}

.click-button:hover {
    background: #b3e8ca;
    box-shadow: 2px 2px 5px grey;
}

input {
    cursor: pointer;
}