.curtain {
    margin-top: 7px;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.curtain:hover {
    cursor: pointer;
    box-shadow: 3px 3px 7px #1b1e21;

}

.button {
    padding: 5px;
    margin-right: 3px;
}

.click-button {
    cursor: pointer;
    border-radius: 50%;
}