<div *ngIf="curtain">
    <div class="row curtain">
        <div class="col-md-10">
            <ng-container *ngIf="_hasEditTitle; else title">
                <mat-form-field class="w-100">
                    <input matInput type="text" placeholder="Pavadinimas" [(ngModel)]="curtain.title">
                </mat-form-field>
            </ng-container>
            <ng-template #title>
                <h1>
                    {{curtain.title}}
                </h1>
            </ng-template>


            <mat-form-field class="w-100">
                <mat-select disableOptionCentering [formControl]="form"
                            placeholder="Numatytasis tvarkaraštis">
                    <mat-option [value]="null">-Nepasirinkta-</mat-option>
                    <ng-container *ngFor="let schedule of schedules">
                        <mat-option [value]="schedule.id">{{schedule.title}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-2 flex-container icon-size">
            <div (click)="onChangeOpenClose()">
                <ng-container *ngIf="curtain.isClose; else open">
                    <i class="far fa-moon button event-button"></i>
                </ng-container>
                <ng-template #open>
                    <i class="fas fa-sun button event-button"></i>
                </ng-template>
            </div>

            <div (click)="onChangeMode()">
                <ng-container *ngIf="curtain.mode === 'auto'; else manualMode">
                    <i class="material-icons icon-mat-size button event-button">
                        autorenew
                    </i>
                </ng-container>
                <ng-template #manualMode>
                    <ng-container *ngIf="curtain.mode === 'manual'; else offMode">
                        <i class="fas fa-screwdriver button event-button"></i>
                    </ng-container>
                </ng-template>
                <ng-template #offMode>
                    <i class="fas fa-power-off button event-button"></i>
                </ng-template>
            </div>

            <div                  (click)="onEdit()">
                <i class="fas fa-pencil-alt button event-button"
                   [class.select]="_hasEditTitle"
                   [class.confirm]="_hasEditTitle"></i>
            </div>

            <div (click)="onDelete()">
                <i class="fas fa-trash-alt button event-button"></i>
            </div>
        </div>
    </div>
    <div>
        <app-schedules
                [curtainId]="curtain.id"
                [defaultId]="curtain.selectSchedule_id"
                (sendDefaultId)="defaultChangeHandler($event)"
        ></app-schedules>
    </div>
</div>
