.curtain {
    background: #33a1fd;
    padding: 8px 10px 7px 10px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.flex-container.column {
    flex-direction: column;
    justify-content: space-around;
}

.flex-container.to-end {
    justify-content: flex-end;
}

.icon-mat-size {
    font-size: 39px;
}

.icon-size {
    font-size: 35px;
}

.button {
    padding: 5px;
    margin-right: 3px;
}

@media screen and (min-width: 768px) {
    .flex-container{
        max-width: 165px;
    }
}