.schedule {
    margin: 5px;
    cursor: auto;
    border-radius: 5px;
}

.schedule-header {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.schedule-footer {
    height: 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button {
    padding: 5px;
    margin-right: 3px;
}