.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000B0F;
}

.shadow-text {
  color: #4b4c5b;
}

.button {

}

.button:hover {
  color: #ACBEC4;
}

.flex-container {
  padding: 7px 15px 0 15px ;
  display: flex;
  justify-content: space-between;;
}

.right-icons {
  margin-right: 7px;
}
